.container-detalles {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Ajustar altura según sea necesario */
}

.card {
  border: 2px solid #e6c17e;
  background-color: #f8f1e4; /* Color marrón claro */
  padding: 20px;
  position: relative; /* Cambiado a relativo */
}

.map-container {
  margin-top: 40px; /* Espacio para el botón */
  width: calc(100% - 20px); /* Ajustar según sea necesario, teniendo en cuenta el relleno */
  height: calc(100% - 60px); /* Altura menos espacio para el botón */
  border: 2px solid #e6c17e; /* Agregar borde como el de la tarjeta */
}


#map {
  width: 100%; /* Ajustar al 100% del contenedor */
  height: 100%; /* Ajustar al 100% del contenedor */
}
.arrow-button {
  position: absolute;
  top: 10px; /* Ajusta la posición vertical según tus necesidades */
  left: 10px; /* Ajusta la posición horizontal según tus necesidades */
  width: 40px; /* Ajusta el ancho del botón según tus necesidades */
  height: 40px; /* Ajusta la altura del botón según tus necesidades */
  background-color: #ccc; /* Color de fondo del botón */
  border: none;
  border-radius: 5px; /* Esto crea un botón con esquinas ligeramente redondeadas */
  cursor: pointer;
}

.arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent; /* Ajusta el tamaño de la flecha según tus necesidades */
  border-bottom: 10px solid transparent; /* Ajusta el tamaño de la flecha según tus necesidades */
  border-right: 10px solid #fff; /* Ajusta el tamaño de la flecha según tus necesidades */
}

