.container-detalles {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Ajustar altura según sea necesario */
}

.card {
  border: 2px solid #e6c17e;
  background-color: #f8f1e4; /* Color marrón claro */
  padding: 20px;
  position: relative; /* Cambiado a relativo */
  top: 20px;
}

.card-header {
  background-color: #e6c17e; /* Color de fondo del encabezado */
  color: #fff; /* Color del texto del encabezado */
  padding: 10px; /* Espaciado interno del encabezado */
  font-weight: bold; /* Negrita para el texto del encabezado */
  text-align: center;
}

.map-container {
  margin-top: 25px; /* Espacio para el botón */
  /*width: calc(100% - 20px); */
  width: 100%;
  height: calc(100% - 40px); 
  border: 2px solid #e6c17e; 
}

.arrow-button {
  position: absolute;
  top: 20px; /* Ajusta la posición vertical según tus necesidades */
  left: 20px; /* Ajusta la posición horizontal según tus necesidades */
  width: 40px; /* Ajusta el ancho del botón según tus necesidades */
  height: 40px; /* Ajusta la altura del botón según tus necesidades */
  background-color: transparent; /* Fondo transparente */
  border: none;
  cursor: pointer;
}

.arrow-button img {
  width: 100%; /* Ajusta el ancho de la imagen al 100% del botón */
  height: 100%; /* Ajusta la altura de la imagen al 100% del botón */
  object-fit: contain; /* Ajusta la imagen al tamaño del contenedor sin distorsión */
}

.arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent; /* Ajusta el tamaño de la flecha según tus necesidades */
  border-bottom: 10px solid transparent; /* Ajusta el tamaño de la flecha según tus necesidades */
  border-right: 10px solid #fff; /* Ajusta el tamaño de la flecha según tus necesidades */
}

