.container-detalles {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; 
  margin-top: 20px;
}

.card {
  border: 2px solid #e6c17e;
  background-color: #f8f1e4; 
  padding: 20px;
  position: relative; 
  top: 20px;
}

.card-header {
  background-color: #e6c17e; 
  color: #fff; 
  padding: 10px; 
  font-weight: bold; 
  text-align: center;
}

.header-content {
  display: flex;
  align-items: flex-start; /* Alinear elementos arriba */
}

.map-container {
  margin-top: 20px; 
  /* width: 100%;
  height: calc(100% - 40px);  */
  width: 60%;
  height: 50%;
}

.arrow-button {
  position: absolute;
  top: 20px; 
  left: 20px; 
  width: 40px; 
  height: 40px; 
  background-color: transparent; 
  border: none;
  cursor: pointer;
}

.arrow-button img {
  width: 100%; 
  height: 100%; 
  object-fit: contain; 
}

.arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent; 
  border-bottom: 10px solid transparent; 
  border-right: 10px solid #fff; 
}

.image-container {
  width: 150px; /* Ancho deseado */
  height: 150px; /* Altura deseada */
  overflow: hidden; /* Evita que la imagen se desborde */
  margin-top: 20px;
}

.image-container img {
  width: 100%; /* La imagen ocupará todo el ancho del contenedor */
  height: auto; /* La altura se ajustará automáticamente */
  display: block; /* Evita espacio adicional debajo de la imagen */
  border: 2px solid #e6c17e; 
}

.details-container {
  margin-left: 20px; /* Añade un margen entre la imagen y el details-container */
  margin-top: 20px;
}

.details-container p {
  font-size: 16px; /* Tamaño de fuente deseado */
  color: #333; /* Color de texto deseado */
}

.details-container p.distancia {
  font-style: italic; /* Hacer el texto de distancia en cursiva */
  font-weight: bold;
  text-align: center;
}
