<div *ngIf="existRuta; else templateDontFound" class="container-detalles">
    <div class="card">
      <div class="card-header">
        {{ ruta?.name}}
      </div>
      <button class="arrow-button">
        <img src="https://img.icons8.com/office/16/return.png" alt="Flecha hacia atrás">
      </button>
      <app-mapa-ruta *ngIf="ruta != null" [rutaFromParent]="ruta" class="map-container"></app-mapa-ruta>
    </div>
  </div>
  
  <ng-template #templateDontFound>
    <app-error [message]="'rutas.dontExist' | translate"></app-error>
  </ng-template>
  