

<div class="card" *ngIf="ruta">
  <div class="card-header">
    {{ ruta.name }}
  </div>

  <button [routerLink]="['../' + ruta.id]" class="arrow-button">
    <img src="assets\images\arrow-left.png" alt="Flecha hacia atrás">  
  </button>

  <app-mapa-ruta [rutaFromParent]="ruta" class="map-container"></app-mapa-ruta>
  <app-modal *ngIf="modalSwitch"></app-modal>

   <!-- Barra de información debajo del mapa -->
   <div class="info-bar">
    <div class="route-info">
      <button class="finish-button"  (click)="finalizar()">Finalizar ruta</button>
  </div>

</div>
