<div class="card" *ngIf="ruta">
  <div class="card-header">
    {{ ruta.name }}
  </div>

  <button class="arrow-button">
    <img src="assets\images\arrow-left.png" (click)="back()" alt="Flecha hacia atrás">  
  </button>

  <app-mapa-ruta (hasCompleteRouteUser)="this.handleActiveBtnModalSuccess($event)" [rutaFromParent]="ruta" class="map-container"></app-mapa-ruta>
  <app-modal *ngIf="this.modalSwitch"></app-modal>
  <app-modal-end-route-complete *ngIf="this.hasCompleteUserToShowModal" (hasPressedBtn)="this.finalizar($event)"></app-modal-end-route-complete>

   <!-- Barra de información debajo del mapa -->
   
    <div class="route-info">
      <button class="finish-button" (click)="finalizar()">Finalizar ruta</button>
      <button class="center-button" (click)="centrar()">
        <img src="assets\images\gps.png" title="Centrar posición">
      </button>
      <div class= "datos" *ngIf="tiempoEstimado !== -1 && distanciaRestante !== -1">
      <p class="tiempo-estimado" *ngIf="tiempoEstimado !== -1">{{ "Tiempo estimado : " + calcularDuracion(tiempoEstimado) }}</p>
      <p class="tiempo-estimado" *ngIf="tiempoEstimado === -1">Tiempo estimado: --:--</p>
      <div class="distancia-estimada" *ngIf="distanciaRestante !== -1">
        <p>{{ "Distancia recorrida: " + distanciaRestante + " " + unidadDistancia }}</p>
        <button class="unidad-button" (click)="toggleUnidadDistancia()">
          <img src="assets\images\metro.png" alt="Unidad de medida" title="Cambiar unidad de medida">
        </button>
      </div>
      <p class="distancia-estimada" *ngIf="distanciaRestante === -1">Distancia recorrida: --km</p>
      <p class="timer" *ngIf="tiempoTranscurrido !== -1">{{ "Tiempo transcurrido: " + formatoTiempo(tiempoTranscurrido)}}</p>
      <p class="timer" *ngIf="tiempoTranscurrido === -1">Tiempo transcurrido: --:--</p>
    </div>
    <p *ngIf="!(tiempoEstimado !== -1 && distanciaRestante !== -1)" class="warning-message">Dirígete al inicio de la ruta</p>
  </div>
</div>
