.card {
  position: relative;
  border: 2px solid #e6c17e;
  border-radius: 10px;
  background-color: #f8f1e4;
  padding: 20px;
  top: 20px;
  margin: 20px auto;
  max-width: 80%;
  height: 80vh;
}

.card-header {
  position: relative;
  margin-left: 55px;
  background-color: #e6c17e;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
}

.header-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
}

.arrow-button {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 45px;
  height: 45px;
  background-color: #e6c17e;
  cursor: pointer;
  border: none;
  border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: 10px;
}

.arrow-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.map-container {
  margin-top: 20px;
  height: 100%;
  border: 2px solid #e6c17e; 
}

/* .route-info {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  justify-content: left;
  flex-direction: column;
  flex-wrap: wrap;
} */

.route-info {
  display: flex;
  align-items: center;
  justify-content: center; /* Alinea los elementos a la izq */
  margin-top: 15px;
  flex-direction: row; /* Asegura que los elementos estén en línea horizontal */
}


.finish-button {
  /* background-color: #007bff;
  color: white; */
  background-color: #e6c17e;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

.finish-button:hover {
  background-color: #0056b3;
}

.center-button {
  top: 20px;
  left: 20px;
  width: 45px;
  height: 45px;
  background-color: #e6c17e;
  cursor: pointer;
  border: none;
  border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: 10px;
  margin-left: 20px;
}

 .center-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  color: white;
} 
.tiempo-estimado{
  margin-left: 20px;
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  line-height: 1;
  display: flex; 
  align-items: center; 
}

.distancia-estimada{
  margin-left: 20px;
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  line-height: 1;
  display: flex; 
  align-items: center; 
}

.timer{
  margin-left: 20px;
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  line-height: 1;
  display: flex; 
  align-items: center; 
}

.unidad-button {
  top: 20px;
  left: 20px;
  width: 38px;
  height: 38px;
  background-color: #e6c17e;
  cursor: pointer;
  border: none;
  border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: 10px;
  margin-left: 20px;
  margin-bottom: 15px;
}

 .unidad-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  color: white;
} 