<nav class="navbar fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="cleanInput()" [routerLink]="['/']">
      <img width="120" height="45" class="d-inline-block align-text-top" [routerLink]="['/']"  src="assets\images\logo-header.png" alt="Pathfind logo" />
    </a>
    <form *ngIf="this.enableSearch" [@triggerFade] class="d-flex" [formGroup]="formNavBar" (ngSubmit)="submit()">
      <input
        class="form-control me-2"
        type="search"
        formControlName="search"
        placeholder="Introducir ubicación..."
        aria-label="Buscar ruta"
      />
      <button class="btn btn-outline-success">Buscar</button>
    </form>
  </div>
</nav>
