<nav class="navbar fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="logo" src="assets\svg\logoHeader.svg" alt="Your SVG Image" />
    </a>
    <div clas="navbar-brand"></div>
    <form class="d-flex" [formGroup]="formNavBar" (ngSubmit)="submit()">
      <input
        class="form-control me-2"
        type="search"
        formControlName="search"
        placeholder="Buscar ruta..."
        aria-label="Buscar ruta"
      />
      <button class="btn btn-outline-success">Buscar</button>
    </form>
  </div>
</nav>
