.navbar{
    background-color: #333D29;
    z-index: 1;
}

.btn-outline-success {
    --bs-btn-color: #A4AC86;
    --bs-btn-border-color: #A4AC86;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #A4AC86;
    --bs-btn-hover-border-color: #A4AC86;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #A4AC86;
    --bs-btn-active-border-color: #A4AC86;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #A4AC86;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #A4AC86;
    --bs-gradient: none;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid #906b43;
    border-radius: var(--bs-border-radius);
    border-color: #906b43;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .navbar .form-control {
    font-size: 0.60em;
    width: 35vw;
  }
}