

<section class="dark">
    <div class="container py-4" *ngFor="let r of listRutas; index as i">
        <a class="postcard__link" [routerLink]="['/ruta', r.id ]">
            <article class="postcard dark blue">
                <div class="postcard__img">
                   <img class="postcard__img" [src]="'data:image/jpeg;base64,' + r.image" [alt]="r.name">
                </div>
                <div class="postcard__text">
                    <h1 class="postcard__title blue">{{ r.name }}</h1>
                    <div class="postcard__subtitle">
                        <i class="fas fa-calendar-alt mr-2"></i>📍{{ r.ubicacion }}
                    </div>
                </div>
            </article>
        </a>
    </div>
</section>



<app-error *ngIf="!foundRuta" [message]="'rutas.dontfound' | translate"></app-error>
